
<div class="login-page">
    <!-- Hidden checkbox that controls the login form visibility -->
    <input type="checkbox" id="loginCheckbox" style="display: none;" />

    <!-- Your login form -->
    <div id="loginForm">
        <form action="/templates/userhome.html" method="post" class="login-form
            position-absolute top-50 start-50 translate-middle">
            <!-- Username input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="username" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Username</label>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a href="/templates/registration.html">Register</a></p>
            </div>
        </form>
    </div>
</div>